{% extends 'base.html.twig' %}

{% block panelhead %}
    Mis solicitudes
{% endblock %}

{% block panelbody %}
    <h4>Solicitudes a responder</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Publicacion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud in solicitudes %}
            {% if (solicitud.publicacion.usuario.id == user.id) %}
                <tr>
                    <td>{{ solicitud.fecha|date('Y-m-d') }}</td>
                    <td>{{ solicitud.publicacion.descripcion }}</td>
                    <td>
                        <a href="{{ path('_accion', {'id': solicitud.id, 'ok': 2}) }}" class="btn btn-link">Aceptar</a>
                        <a href="{{ path('_accion', {'id': solicitud.id, 'ok': 3}) }}" class="btn btn-link">Rechazar</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h4>Solicitudes que hice</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Publicacion</th>
            <th>Estado</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        {% for solicitud in misSolicitudes %}
            <tr>
                <td>{{ solicitud.fecha }}</td>
                <td>{{ solicitud.publicacion.descripcion }}</td>
                <td>
                    {% if (solicitud.ok == 1) %}
                        Esperando Respuesta
                    {% elseif (solicitud.ok == 2) %}
                        Aceptado
                    {% elseif (solicitud.ok == 3) %}
                        Rechazado
                    {% endif %}
                </td>
                <td><a href="{{ path('_eliminarSolicitud', {'id': solicitud.id}) }}" class="glyphicon glyphicon-erase"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}