{% extends 'base.html.twig' %}

{% block panelhead %}
    Ganancias<br>
    {{ total }}(Totales incluyendo usuarios premium)
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block panelbody %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>ID de la publicacion</th>
                <th>Porcentaje</th>
                <th>Monto</th>
                <th>Ganancia</th>
            </tr>
        </thead>
        <tbody>
        {% for comision in comisions %}
            <tr>
                <td>{% if comision.fecha %}{{ comision.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ comision.publicacion }}</td>
                <td>{{ comision.porcentaje }}</td>
                <td>{{ comision.monto }}</td>
                <td>{{ comision.ganancia }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
