{% extends "FOSUserBundle::layout.html.twig" %}

{% block panelhead %}Mi perfil <a href="{{ path('fos_user_profile_edit') }}" class="glyphicon glyphicon-edit"></a>{% endblock %}

{% block panelbody %}
    <h4>Información Personal</h4>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Pais</th>
                <th>Provincia</th>
                <th>Localidad</th>
                <th>Calle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.pais }}</td>
                <td>{{ user.provincia }}</td>
                <td>{{ user.localidad }}</td>
                <td>{{ user.calle }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}