{% extends 'base.html.twig' %}

{% block panelhead %}Seleccione las fechas entre las que desea conocer las ganancias{% endblock %}

{% block panelbody %}
    <div class="formulario col-sm-6">
        {{ form_start(form) }}
            {{ form_row(form) }}
            <br>
            <input type="submit" value="Aceptar" class="btn btn-info">
            <a href='{{ path('_listaPubli') }}' class="btn btn-default">Cancelar</a>
        {{ form_end(form) }}
    </div>
    <div class="col-sm-6 pull-right">
        <label>Total de ganancias durante el período elegido:</label>${{ total }}
    </div>

{% endblock %}

