{% extends 'base.html.twig' %}

{% block panelhead %}Mi perfil{% endblock %}

{% block panelbody %}
    <h4>Información Personal</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Pais</th>
                <th>Provincia</th>
                <th>Localidad</th>
                <th>Calle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.pais }}</td>
                <td>{{ usuario.provincia }}</td>
                <td>{{ usuario.localidad }}</td>
                <td>{{ usuario.calle }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Recuperación de contraseña</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Pregunta</th>
            <th>Respuesta</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ usuario.pregunta }}</td>
            <td>{{ usuario.respuesta }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}