<nav class="navbar navbar-static-top" role="navigation" style="padding: 50px 150px">
    <div class="navbar-nav btn-group">
        {% block menupublico %}
            <a href="{{ path('_listaPubli') }}" class="btn btn-success">Home</a>
            <a href="{{ path('_ayuda') }}" class="btn btn-success">Ayuda</a>

        {% endblock %}
    </div>
    {% block menuusuario %}

        <div class="dropdown navbar-right">
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-primary dropdown-toggle btn-success" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-chevron-down"></span> Mi perfil
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('fos_user_profile_show') }}">Ver mi perfil</a></li>
                    {%if (app.user.esPremium()) %}
                        <li><a href="{{ path('_pago') }}">¡Ya eres Premium!</a></li>
                    {% endif %}
                    {%if not(app.user.esPremium()) %}
                        <li><a href="{{ path('_pago') }}">Pagar Premium</a></li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_change_password') }}">Cambiar mi contraseña</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Cerrar Sesión</a></li>
                </ul>


            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Iniciar Sesión</a>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-danger">Registrarme</a>
            {% endif %}
        </div>

        <div class="dropdown navbar-right" style="padding: 0px 20px">
            {% if is_granted('ROLE_USER') %}
            <a class="btn btn-primary dropdown-toggle btn-success" data-toggle="dropdown">
                <span class="glyphicon glyphicon-chevron-down"></span> Mis Operaciones
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('_misPublicaciones') }}">Mis Publicaciones</a></li>
                <li><a href="{{ path('lista_de_mis_solicitudes') }}">Mis Solicitudes</a></li>

            </ul>
            {% endif %}
        </div>

        <div class="dropdown navbar-right" style="padding: 0px 10px">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-chevron-down"></span>Backend
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('_listaDeUsuarios') }}">Usuarios</a></li>
                    <li><a href="{{ path('_tipos') }}">Tipos de hospedaje</a></li>
                    <li><a href="{{ path('_cantidadEnMes') }}">Cantidad de usuarios registrados</a></li>
                    <li><a href="{{ path('_newPorcentaje') }}">Modificar Porcentaje</a></li>
                </ul>
            {% endif %}
        </div>

    {% endblock %}
</nav>
