<nav class="navbar navbar-static-top" role="navigation" style="padding: 50px 150px">
    <div class="navbar-header btn-group">
        {% block menupublico %}
            <a href="{{ path('_index') }}" class="btn btn-primary">Pagina de inicio</a>
            <a href="{{ path('_listaPubli') }}" class="btn btn-default">Publicaciones</a>
        {% endblock %}
    </div>
    {% block menuusuario %}
        <div class="dropdown navbar-right">
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-chevron-down"></span> Mi perfil
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('fos_user_profile_show') }}">Ver mi perfil</a></li>
                    <li><a href="{{ path('fos_user_change_password') }}">Cambiar mi contraseña</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Cerrar Sesión</a></li>
                </ul>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Iniciar Sesión</a>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-danger">Registrarme</a>
            {% endif %}
        </div>
        <div class="dropdown navbar-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-chevron-down"></span>Backend
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('_listaDeUsuarios') }}">Usuarios</a></li>
                </ul>
            {% endif %}
        </div>

    {% endblock %}
</nav>