{% extends 'base.html.twig' %}

{% block panelhead %}Publicar{% endblock %}

{% block panelbody %}

    {% if error is not empty %}
        {{ error }}
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form) }}
    <a href='{{ path('_listaPubli') }}' class="btn bg-danger">Cancelar</a>

{% endblock %}