{% extends '::base.html.twig' %}

{% block panelhead %}
    Publicaciones<br>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('_altaPubli') }}" class="btn btn-primary">Agregar Publicacion</a>
    {% endif %}
{% endblock %}

{% block panelbody %}
    <table class="table table-striped" style="color: #0f0f0f">
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Usuario</th>
            <th>Descripcion</th>
            {% if is_granted('ROLE_USER') %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for publicacion in publicaciones %}
            <tr>
                <td>
                    <div class="col-md-3">
                        <a href="{{ path('_mostrarPublicacion', {'id': publicacion.id}) }}"><img src="{{ asset('uploads/fotos/' ~ publicacion.path)  }}" width="130" height="90"/></a>
                    </div>
                </td>
                <td>{{ publicacion.usuario }}</td>
                <td>{{ publicacion.descripcion }}</td>


                {% if is_granted('ROLE_USER') %}
                    <td>
                        {% if publicacion.usuario.id == user.id %}
                            <a href="{{ path('_modificarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-edit"></a>
                        {% endif %}
                        {% if publicacion.usuario.id == user.id or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('_eliminarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-erase"></a><br>
                        {% endif %}
                        {% if publicacion.usuario.id == user.id %}
                            <a href="{{ path('lista_solicitudes', {'id': publicacion.id}) }}" class="glyphicon glyphicon-arrow-up">
                                {% set counter = 0 %}
                                {% for solicitud in solicitudes %}

                                    {% if app.user.username  == solicitud.publicacion.usuario.username and solicitud.publicacion.id ==
                                    publicacion.id and solicitud.ok == 1 %}
                                        {% set counter = counter + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {{ "(Tienes " ~counter~ " Solicitud/es)" }}
                            </a><br>
                        {% endif %}
                        {% if publicacion.usuario.id == user.id %}
                            <a href="{{ path('_mostrarPublicacion', {'id': publicacion.id}) }} #seccion-preguntas"  class="glyphicon glyphicon-alert">
                        {% endif %}

                    {% set counter = 0 %}
                    {% for pregunta in preguntas %}

                            {% if app.user.username  == pregunta.aUsuario.username and pregunta.publicacion.id ==
                            publicacion.id and pregunta.respondido == false %}
                                {% set counter = counter + 1 %}
                            {% endif %}
                    {% endfor %}
                    {{ "(Tienes " ~counter~ " Pregunta/s)" }}
                    </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
