{% extends 'base.html.twig' %}

{% block panelhead %}
    Publicacion
    <a href="{{ path('_calificarPublicacion', {'id': publicacion.id, 'cal':1}) }}" class="glyphicon glyphicon-thumbs-up" style="color: green">
    </a>
    {{ calificacionesBuenas }}
    <a href="{{ path('_calificarPublicacion', {'id': publicacion.id, 'cal':2}) }}" class="glyphicon glyphicon-thumbs-down" style="color: red">
    </a>
    {{ calificacionesMalas }}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('_hospedarme', {'id': publicacion.id}) }}" class="btn btn-link pull-right"><label class="glyphicon glyphicon-arrow-up"></label>Solicitar hospedaje</a>
    {% endif %}
{% endblock %}

{% block panelbody %}
    <div class="col-md-8">
        <div>
            <label>Tipo de hospedaje</label><br>
            {{ publicacion.tipo.tipo }}
        </div>
        <br><br>
        <div>
            <label>Fecha Disponible:</label><br>
            Desde: {{ publicacion.fechaDisponibleInicio|date('Y-m-d') }}<br>
            Hasta: {{ publicacion.fechaDisponibleFin|date('Y-m-d') }}
        </div>
        <br><br>
        <div>
            <label>Descripcion:</label><br>
            {{ publicacion.descripcion }}
        </div>
        <br><br>
        <div>
            <label>¿Dónde queda?</label><br>
            Pais:
            {{ publicacion.pais }}<br>
            Provincia:
            {{ publicacion.localidad }}<br>
            Dirección:
            {{ publicacion.calle }}<br>
        </div>
    </div>

    <div class="col-md-4">
        <div>
            <label>Publicado por:</label>
            {{ publicacion.usuario.username }}
            <a href="{{ path('_calificacionUsuario', {'paraUsuario': publicacion.usuario.id, 'cal': 1, 'publicacionid': publicacion.id}) }}" class="glyphicon glyphicon-thumbs-up" style="color: green"></a>
            {{ calificacionDelUsuarioBuenas }}
            <a href="{{ path('_calificacionUsuario', {'paraUsuario': publicacion.usuario.id, 'cal': 2, 'publicacionid': publicacion.id}) }}" class="glyphicon glyphicon-thumbs-down" style="color: red"></a>
            {{ calificacionesDelUsuarioMalas }}
        </div>
        <br>
        <div>
            <label>El día:</label>
            {{ publicacion.fechaDePublicacion|date('Y-m-d') }}
        </div>
        <div>
            <img class="img-responsive" src="{{ asset('uploads/fotos/' ~ publicacion.path) }}">
            <img class="img-responsive" src="{{ asset('uploads/fotos/' ~ publicacion.path2) }}">
            <img class="img-responsive" src="{{ asset('uploads/fotos/' ~ publicacion.path3) }}">
        </div>
    </div>
    <div class="panel-heading col-md-12" style="padding: 20px 0px">
        <br><br>
        <div class="col-md-2 text">
            <label>Comentarios</label>
        </div>
        <div class="col-md-12 line"><hr></div>
        <br><br>
        <div id="comentarios"><br>
            <a href="{{path('_comentario', {'paraUsuarioId':publicacion.usuario.id, 'id': publicacion.id})}}" class="btn btn-default active">Comentar</a>
            <br><br>
            <table class="table panel-body col-md-12">
                <tbody>
                {% for comentario in comentarios %}
                    <tr>
                        <td>
                            <div style="padding: 20px 0px">
                                {{ comentario.deUsuario.username }}<br>
                                {{ comentario.fecha|date('Y-m-d') }}
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ comentario.comentario }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="mark-pers2">

                <table class="table table-striped" style="color: #0f0f0f">
                    <thead>
                    <tr>
                        <th>Usuario</th>

                        <th><div style="padding: 0px 150px">Pregunta</div></th>
                        {% if is_granted('ROLE_USER') %}

                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <br><br>
                    <a name="seccion-preguntas"></a>
                    <div class="col-md-2 text">
                        <label>Preguntas</label>
                    </div>
                    {% for pregunta in preguntas %}
                        <tr>
                            <td>
                                <div style="padding: 10px 0px">
                                    {{ pregunta.deUsuario.username }}<br>
                                    {{ pregunta.fecha|date('Y-m-d') }}
                                </div>
                            </td>
                            <td>
                                <div class="right">
                                    {{ pregunta.pregunta }}
                                </div>
                            </td>
                        </tr>

                        <tr>

                            {% if  (app.user.username  == pregunta.deUsuario.username or app.user.username == pregunta.aUsuario) and pregunta.respondido == true %}
                                <td>
                                    <div class="mark-pers">
                                        <label>Respuesta: </label>
                                        {{ pregunta.respuesta }}
                                    </div>
                                    <br>
                                </td>

                            {% endif %}



                            {% if app.user.username  == pregunta.aUsuario.username and pregunta.respondido == false %}
                                <td>
                                    <a href="{{path('_nuevaRespuesta', {'id': pregunta.id})}}"
                                       class="btn btn-default active">Responder</a>
                                    <br><br>
                                </td>

                            {% endif %}

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if publicacion.usuario != app.user.username %}
                <div id="pregunta"><br>
                    <a href="{{path('_nuevaPregunta', {'paraUsuarioId':publicacion.usuario.id, 'id': publicacion.id})}}"
                       class="btn btn-default active">Hacer una pregunta</a>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}