{% extends '::base.html.twig' %}

{% block panelhead %}
    Publicaciones<br>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('_altaPubli') }}" class="btn btn-primary">Agregar Publicacion</a>
    {% endif %}
    <a href='{{ path('_filtradas') }}' type="submit" class="btn bg-danger">Filtrar</a>
{% endblock %}


{#
{% block panelhead %}
    Publicaciones<br xmlns="http://www.w3.org/1999/html">
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('_altaPubli') }}" class="btn btn-primary">Agregar Publicacion</a>
    {% endif %}
{% endblock %}
{% block panelbody %}
{#<table class="" style="color: #0f0f0f">
    <thead>
    <tr>
        <th>Imagen</th>
        <th>Descripcion</th>
        <th>Usuario</th>
        {% if is_granted('ROLE_USER') %}
            <th></th>
        {% endif %}
    </tr>
    </thead>#}
{% block panelbody %}
    <tbody>
    <div class="row-fluid">
        {% for publicacion in publicaciones %}
            {% if tipo != null and pais != null %}
                {% if maxPersonas <= publicacion.maxPersonas and monto >= publicacion.costo and fechaInicio>=publicacion.fechaDisponibleInicio
                and fechaFin<=publicacion.fechaDisponibleFin and tipo==publicacion.tipo and pais==publicacion.pais %}

                    <div class="col-md-4">
                        <div class="mark-pers">
                            <div class="text-center">
                                <div>
                                    <img src="{{ asset('uploads/fotos/' ~ publicacion.path)  }}" width="240" height="160"/>
                                </div>

                                {{ publicacion.usuario }}
                                <a href="{{ path('_mostrarPublicacion', {'id': publicacion.id}) }}">{{ publicacion.descripcion }}</a></td>
                                {% if is_granted('ROLE_USER') %}

                                    {% if publicacion.usuario.id == user.id %}
                                        <a href="{{ path('_modificarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-edit"></a>
                                    {% endif %}
                                    {% if publicacion.usuario.id == user.id or is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('_eliminarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-erase"></a>
                                    {% endif %}
                                    <br/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {%endif%}
            {% elseif pais != null %}
                {% if maxPersonas <= publicacion.maxPersonas and monto >= publicacion.costo and fechaInicio>=publicacion.fechaDisponibleInicio
                and fechaFin<=publicacion.fechaDisponibleFin and pais==publicacion.pais %}

                    <div class="col-md-4">
                        <div class="mark-pers">
                            <div class="text-center">
                                <div>
                                    <img src="{{ asset('uploads/fotos/' ~ publicacion.path)  }}" width="240" height="160"/>
                                </div>

                                {{ publicacion.usuario }}
                                <a href="{{ path('_mostrarPublicacion', {'id': publicacion.id}) }}">{{ publicacion.descripcion }}</a></td>
                                {% if is_granted('ROLE_USER') %}

                                    {% if publicacion.usuario.id == user.id %}
                                        <a href="{{ path('_modificarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-edit"></a>
                                    {% endif %}
                                    {% if publicacion.usuario.id == user.id or is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('_eliminarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-erase"></a>
                                    {% endif %}
                                    <br/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {%endif%}
            {% elseif tipo != null %}
                {% if maxPersonas <= publicacion.maxPersonas and monto >= publicacion.costo and fechaInicio>=publicacion.fechaDisponibleInicio
                and fechaFin<=publicacion.fechaDisponibleFin and tipo==publicacion.tipo %}

                    <div class="col-md-4">
                        <div class="mark-pers">
                            <div class="text-center">
                                <div>
                                    <img src="{{ asset('uploads/fotos/' ~ publicacion.path)  }}" width="240" height="160"/>
                                </div>

                                {{ publicacion.usuario }}
                                <a href="{{ path('_mostrarPublicacion', {'id': publicacion.id}) }}">{{ publicacion.descripcion }}</a></td>
                                {% if is_granted('ROLE_USER') %}

                                    {% if publicacion.usuario.id == user.id %}
                                        <a href="{{ path('_modificarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-edit"></a>
                                    {% endif %}
                                    {% if publicacion.usuario.id == user.id or is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('_eliminarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-erase"></a>
                                    {% endif %}
                                    <br/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {%endif%}
                {% else %}
            {% if maxPersonas <= publicacion.maxPersonas and monto >= publicacion.costo and fechaInicio>=publicacion.fechaDisponibleInicio
            and fechaFin<=publicacion.fechaDisponibleFin %}
            <div class="col-md-4">
                <div class="mark-pers">
                    <div class="text-center">
                        <div>
                            <img src="{{ asset('uploads/fotos/' ~ publicacion.path)  }}" width="240" height="160"/>
                        </div>

                        {{ publicacion.usuario }}
                        <a href="{{ path('_mostrarPublicacion', {'id': publicacion.id}) }}">{{ publicacion.descripcion }}</a></td>
                        {% if is_granted('ROLE_USER') %}

                            {% if publicacion.usuario.id == user.id %}
                                <a href="{{ path('_modificarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-edit"></a>
                            {% endif %}
                            {% if publicacion.usuario.id == user.id or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('_eliminarPublicacion', {'id': publicacion.id}) }}" class="glyphicon glyphicon-erase"></a>
                            {% endif %}
                            <br/>
                        {% endif %}
                    </div>
                </div>
            </div>
            {%endif%}
        {%endif%}
        {% endfor %}
    </div>
    </tbody>
    {#</table>#}
{% endblock %}